/*body {*/
    /*min-height: 100vh;*/
    /*!*background-image: url("../imgs/bg.png");*!*/
    /*background-color: #222;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*color: #FFF;*/
    /*background-attachment: fixed;*/
/*}*/

/*main {*/
    /*!*background-image: url("../imgs/bg-blur.png");*!*/
    /*background-color: #222;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;*/
    /*height: 100%;*/
    /*background-attachment: fixed;*/
/*}*/

body {
    padding: 100px 0;
    font-size: 18px !important;
}
button{
    outline: none!important;
}